$color-primary: hsl(0, 94%, 27%);
$color-secondary: rgb(255, 0, 0);
$color-tertiary: hsl(355, 94%, 33%);
$color-warning: hsl(0, 99%, 27%) !default;

$background-color:  rgba(23, 0, 5, 0.89) ;
$font-family: 'Rajdhani', sans-serif;
$font-size: 17px;
$font-color: rgb(243,230,0);
$font-color-light: rgb(238, 238, 11);

$header-height: 88px;

$workarea-background-color: rgba(23,0,5,.75);
$workarea-min-height: calc(100vh - 136px);
